/* Start Global Rules */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-white: #ffffff;
    --secondary-color: #133e3f;
    --section-padding: 50px;
    --third-color: #4bc5b8;
}

ul {
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

/* Start Compenent */
.main-heading h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    color: var(--secondary-color);
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

.main-heading h3::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 70px;
    background-color: #4bc5b8;
    left: 0;
    top: 50%;
}

.main-heading p {
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    color: var(--secondary-color);
}

@media (min-width: 992px) {
    .main-heading h3 {
        font-size: 35px;
        line-height: 0.85;
    }

    .main-heading p {
        font-size: 17px;
        line-height: 1.76;
    }
}

a.special-link {
    display: block;
    text-decoration: none;
    width: fit-content;
    padding: 10px 35px;
    color: var(--color-white);
    font-weight: 400;
    font-size: 15px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: background-color 0.3s, color 0.3s;
}

a.special-link:hover {
    background-color: transparent;
    color: var(--secondary-color);
}

@media (min-width: 992px) {
    a.special-link {
        padding: 15px 45px;
        font-size: 17px;
    }
}

/* End Compenent */

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* End Global Rules */
/* Start Home Page */
.home-page {
    background-image: url("../images/landing.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: var(--section-padding);
    position: relative;
}

.home-page::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 197, 185, 0.75);
}

/* Start Header */
.home-page header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* for z-index */
    position: relative;
}

.home-page header .logo {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home-page header .logo span:first-of-type {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.81;
    text-transform: uppercase;
    color: var(--color-white);
}

.home-page header .logo span:last-of-type {
    font-weight: 700;
    font-size: 20px;
    margin-top: -15px;
    color: var(--secondary-color);
}

.home-page header i.hide {
    font-size: 30px;
    color: var(--color-white);
    cursor: pointer;
}

.home-page header nav.navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    display: none;
}

.home-page header nav.show {
    display: flex;
}

.home-page header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.home-page header nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
    padding: 18px 20px;
    font-weight: 400;
    font-size: 15px;
    color: var(--color-white);
    transition: background-color 0.3s;
}

.home-page header nav ul li:first-child a,
.home-page header nav ul li a:hover {
    background-color: var(--secondary-color);
}

.home-page header nav i {
    color: var(--color-white);
    font-size: 20px;
    padding: 18px 20px;
    cursor: pointer;
}

/* End Header */
/* Start Landing*/

.home-page .landing .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    /* for z-index */
    position: relative;
}

.home-page .landing .content h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 2.23;
    letter-spacing: 9px;
    color: var(--color-white);
}

.home-page .landing .content a {
    margin: 40px 0 50px 0;
}

.home-page .landing .content ul.bullets {
    display: flex;
    gap: 10px;
}

.home-page .landing .content ul.bullets li {
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-color: var(--color-white);
    border-radius: 50%;
    cursor: pointer;
}

.home-page .landing .content ul.bullets li:first-child {
    border-color: var(--secondary-color);
}

.home-page .landing .content ul.bullets li:active,
.home-page .landing .content ul.bullets li:hover {
    border-color: var(--secondary-color);
}

@media (min-width: 768px) {
    .home-page .landing .content h2 {
        font-size: 50px;
        line-height: 1.78;
        letter-spacing: 20px;
    }
}

@media (min-width: 992px) {
    .home-page {
        height: 100vh;
    }

    .home-page header {
        height: 100px;
        padding: 0 20px 0 40px;
    }

    .home-page .landing {
        height: calc(100% - 100px);
        position: relative;
    }

    .home-page .landing .content {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .home-page header nav.navigation {
        width: initial;
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    .home-page header nav ul {
        flex-direction: row;
    }

    .home-page header nav ul li a {
        font-size: 17px;
    }

    .home-page header nav i {
        font-size: 25px;
    }

    .home-page header nav i,
    .home-page header nav ul li a {
        height: 100px;
        line-height: 100px;
    }

    .home-page header i.hide {
        display: none;
    }

    .home-page .landing .content h2 {
        font-size: 80px;
        line-height: 1.11;
        letter-spacing: 45px;
        transform: translateX(2.5%);
    }
}

/* End Landing*/
/* End Home Page */
/* Start services  */
.services {
    background-color: var(--color-white);
}

.services .container {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.services .container .box {
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.services .container .box:not(:last-child) {
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
}

.services .container .box .image {
    flex-basis: 50px;
}

.services .container .box .image img {
    max-width: 100%;
}

.services .container .box .info h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 20px;
}

.services .container .box .info a {
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    color: #fdda6e;
}

@media (min-width: 768px) {
    .services .container {
        margin-left: auto;
        margin-right: auto;
    }

    .services .container .box .info h4 {
        font-size: 24px;
        line-height: 1.25;
    }

    .services .container .box .info a {
        font-size: 17px;
        line-height: 1.76;
    }
}

@media (min-width: 992px) {
    .services .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .services .container .box:not(:last-child) {
        border-bottom: none;
        border-right: 0.1px solid rgba(255, 255, 255, 0.4);
    }
}

/* End services  */
/* Start About Us */
.about-us {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) * 2);
    background-color: var(--color-white);
    position: relative;
}

.about-us .container {
    margin-left: 20px;
    margin-right: 20px;
}

.about-us .container .images .first-image {
    max-width: 80%;
}

.about-us .container .images .second-image {
    max-width: 40%;
    margin-left: auto;
    margin-top: -25%;
}

.about-us .container .images img {
    display: block;
    width: 100%;
}

.about-us .container .main-heading h3::before {
    transform: translate(1px, -50%) skewX(-20deg);
}

.about-us .container .main-heading a {
    margin-top: 30px;
}

.about-us .side {
    position: absolute;
    right: 0;
    bottom: 0;
}

.about-us .side img {
    max-width: 50%;
}

@media (min-width: 768px) {
    .about-us .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .about-us .side img {
        max-width: 75%;
    }

    .about-us .container .main-heading h3 {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .about-us .side img {
        max-width: 100%;
    }
}

/* End About Us */
/* Start Courses  */
.courses {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) * 2);
    position: relative;
}

.courses .container {
    margin-left: 30px;
    margin-right: 30px;
}

.courses .container .main-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.courses .container .main-heading h3 {
    margin-top: 0;
}

.courses .container .main-heading h3::before {
    transform: translate(-5px, -50%) skewX(-20deg);
}

.courses .container .boxes .group-boxes-one {
    margin-bottom: 20px;
}

.courses .container .boxes .group-boxes-one,
.courses .container .boxes .group-boxes-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.courses .container .boxes .box {
    position: relative;
    border-radius: 20px;
    flex-basis: 100%;
}

.courses .container .boxes .box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 62, 63, 0.9);
    border-radius: 20px;
    display: none;
}

.courses .container .boxes .box:hover::before,
.courses .container .boxes .box:hover a {
    display: block;
}

.courses .container .boxes .box img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.courses .container .boxes .box a {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: var(--third-color);
    border-radius: 50%;
    position: absolute;
    left: 20px;
    bottom: 90px;
    display: none;
}

.courses .container .boxes .group-boxes-two .box:last-child a {
    bottom: 60px;
}

.courses .container .boxes .box a i {
    color: var(--color-white);
    font-size: 20px;
}

.courses .container .boxes .box h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-white);
    position: absolute;
    left: 20px;
    bottom: 15px;
}

.courses .container .footer a {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.courses .side {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.courses .side img {
    max-width: 50%;
}

@media (min-width: 576px) {
    .courses .container .boxes .box {
        flex-basis: 240px;
    }
}

@media (min-width: 768px) {
    .courses .container {
        margin-left: auto;
        margin-right: auto;
    }

    .courses .side img {
        max-width: 75%;
    }
}

@media (min-width: 992px) {
    .courses .container .boxes .box {
        flex-basis: 280px;
    }

    .courses .container .boxes .box h3 {
        font-size: 24px;
        line-height: 1.25;
    }

    .courses .side img {
        max-width: 100%;
    }

}

@media (min-width: 1200px) {
    .courses .container .boxes .box {
        flex-basis: auto;
    }
}

/* End Courses  */